<nb-card class="actions-card">
  <nb-card-body>
    <div class="container pt-4 pb-4">
      <div class="row justify-content-md-center">
        <p class="subtitle p-2">Please, choose your YouTube channel for uploading videos.</p>
      </div>

      <div class="row justify-content-md-center">
        <button nbButton (click)="onAddChannel()" [status]="'primary'">
          <nb-icon class="action-icon" icon="plus-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
