<div *ngIf="hasSelectedPlaylists() else introductionModal">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <youtube-add-playlist-control [playlists]="unselectedPlaylists" (selectPlaylist$)="onSelectPlaylist($event)">
        </youtube-add-playlist-control>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <youtube-playlist-table [playlists]="selectedPlaylists" (deselectPlaylist$)="onDeselectPlaylist($event)"
          (navigateToPlaylistPage$)="onNavigateToPlaylistPage($event)">
        </youtube-playlist-table>
      </div>
    </div>
  </div>
</div>

<ng-template #introductionModal>
  <div class="row align-items-center justify-content-md-center">
    <div class="col-md-7">
      <div class="container pt-4 pb-4">
        <div class="row justify-content-md-center">
          <p class="subtitle p-2">Please select a playlist for video uploading.</p>
        </div>

        <div class="row justify-content-md-center">
          <div class="col">
            <youtube-add-playlist-control [playlists]="unselectedPlaylists"
              (selectPlaylist$)="onSelectPlaylist($event)">
            </youtube-add-playlist-control>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
